/* All style should go in this document. */

/**************************
*    Flex Boxes
***************************/

.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    line-height: 1.3em;
    background-image: url("../images/background.jpg");
    background-size: 350px 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/**************************
*    Menu Boxes
***************************/

div.menubar {
    min-width: 100%;
    min-height: 3em;
    background-color: white;
    border-bottom: 1pt solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    line-height: 1.3em;
}


.menubar div.menubox1 {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 15%;
    min-height: auto;
    margin: 0px 0px 10px 0px;
    padding: 3px 3px 3px 3px;
}

.menubar div.menubox2 {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 15%;
    min-height: auto;
    margin: 0px 0px 10px 0px;
    padding: 3px 3px 3px 3px;
}

.box div.name {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    max-width: 100%;
    min-height: auto;
    background-color: orange;
    margin: 0px 0px 10px 0px;
    padding: 3px 3px 3px 3px;
}

.box div.education {
    order: 3;
    flex: 0 1 auto;
    align-self: auto;
    max-width: 20%;
    min-width: 150px;
    min-height: auto;
    background-color: #47D147;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
}

.box div.research {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
    max-width: 20%;
    min-width: 150px;
    min-height: auto;
    background-color: #00FFFF;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
}

.box div.work {
    order: 5;
    flex: 0 1 auto;
    align-self: auto;
    max-width: 20%;
    min-width: 150px;
    min-height: auto;
    background-color: yellow;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
}

.box div.teaching {
    order: 6;
    flex: 0 1 auto;
    align-self: auto;
    max-width: 20%;
    min-width: 150px;
    min-height: auto;
    background-color: red;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
}


.box div.grants {
    order: 7;
    flex: 0 1 auto;
    align-self: auto;
    max-width: 25%;
    min-width: 150px;
    min-height: auto;
    background-color: #FF8080;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
}

.box div.publications {
    order: 8;
    flex: 0 1 auto;
    align-self: auto;
    max-width: 25%;
    min-width: 175px;
    min-height: auto;
    background-color: #AD855C;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
}

.box div.referee {
    order: 9;
    flex: 0 1 auto;
    align-self: auto;
    max-width: 20%;
    min-width: 125px;
    min-height: auto;
    background-color: #836D91;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
}

.referee div.list h1 {
    background-color: #BBCB96;
}

.box div.meetings {
    order: 10;
    flex: 0 1 auto;
    align-self: auto;
    max-width: 25%;
    min-width: 150px;
    min-height: auto;
    background-color: #6C95B5;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
}

.meetings div.list h1 {
    background-color: #FFE391;
}

.box div.contact {
    order: 11;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 97%;
    min-height: auto;
    background-color: orange;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

/**************************
*    Technology Boxes
***************************/

div.technologyBox {
    min-width: 100%;
    min-height: 13em;
    background-color: white;
    border-bottom: 1pt solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: auto;
    align-content: left;
    align-items: left;
    line-height: 1.3em;
    padding-left: 10px;
    padding-top: 30px;
}

.technologyBox div.menu {
    order: 1;
    flex: 0 1 auto;
    align-self: stretch;
    max-width: 200px;
    min-height: auto;
    margin: 0px 80px 10px 10px;
    padding: 0px 0px 0px 10px;
}

.technologyBox div.badges {
    order: 2;
    flex: 0 1 auto;
    align-self: stretch;
    max-width: auto;
    min-height: 65%;
    margin: 20px 40px 10px 40px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: auto;
    align-content: left;
    align-items: left;
}

div.badges div.htmlcss {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    width: 120px;
    height: 90px;
    min-height: auto;
    background-image: url("../images/htmlcss.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 30px 40px 10px 40px;
    padding: 0px 10px 0px 10px;
}


div.badges div.latex {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    width: 120px;
    height: 60px;
    min-height: auto;
    background-image: url("../images/latex.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 30px 40px 10px 40px;
    padding: 0px 10px 0px 10px;
}

div.badges div.git {
    order: 3;
    flex: 0 1 auto;
    align-self: auto;
    width: 120px;
    height: 60px;
    min-height: auto;
    background-image: url("../images/git.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 30px 40px 10px 40px;
    padding: 0px 10px 0px 10px;
}

div.badges div.swift {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
    width: 100px;
    height: 120px;
    min-height: auto;
    background-image: url("../images/swift.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 30px 40px 10px 40px;
    padding: 0px 10px 0px 10px;
}

div.badges div.c {
    order: 5;
    flex: 0 1 auto;
    align-self: auto;
    width: 200px;
    height: 120px;
    min-height: auto;
    background-image: url("../images/c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 30px 40px 10px 40px;
    padding: 0px 10px 0px 10px;
}


/**************************
*    Current
***************************/


div.current {
    min-width: 80%;
    min-height: 3em;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: auto;
    align-content: center;
    align-items: center;
    line-height: 1.3em;
    margin-left: 10%;
}

div.current p {
    padding: 0 20px 0 40px;
}

div#a100 {
    background-image: url("../images/a100.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 250px;
    width: 250px;
}

div#agile {
    background-image: url("../images/agile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 250px;
    width: 250px;
}

/**************************
*    Background
***************************/

div#mountain {
    background-image: url("../images/mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    min-height: 100vh;
    border: 1pt solid black;
}

div#mountainThin {
    background-image: url("../images/mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    min-height: 100px;
    border: 1pt solid black;
}

/**************************
*    Lists
***************************/

div.paper {
    padding-bottom: 1em;
}

div.list div {
    margin-bottom: 0.7em;
}

div.list h1 {
    font-weight: 300;
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
}

div.list h3 {
    font-weight: 100;
    margin-bottom: 0.4em;
}

/**************************
*    Buttons
***************************/

.button {
     
    /*Basic Button Styles*/
    display: block;
    height: 30px;
    width: 100px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
     
    /*Text Styles*/
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    font: bold 1.2em/33px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
     
    /*Fancy CSS3 Styles*/
    background: linear-gradient(top, #34696f, #2f5f63);
    border-radius: 25px;
    box-shadow: 0 8px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
     
}
 
/*Link Styling*/
a.button {
    text-decoration: none;
}

/**************************
*    Fonts
***************************/

.technologyBox {
    font-family: "Royal Quiet Deluxe";
    font-size: 18pt;
}

.current {
    font-family: "Royal Quiet Deluxe";
    font-size: 18pt;
}

@font-face {
  src: url(RoyalQuietDeluxe.ttf);
  font-weight: bold;
}

@font-face {
    src: url(Raleway-Thin.ttf);
}


